$prime-placeholder : rgba(117, 117, 117, .8);

.input-todo-form {
    display: flex;
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,.1);

    p:first-child {
        flex-grow: 1;
    }
    p:last-child {
        flex-grow: 0;
    }

    label {
        display: flex;
        height: 100%;
    }


    input[type="text"] {
        display: block;
        width: 100%;
        padding: 0 10px;
        font-size: 17px;
        line-height: 1.8em;
        outline-color: #61dafb;
        border: 1px solid silver;
        border-radius: 2px;

        &::-webkit-input-placeholder {
            color: $prime-placeholder;
        }

        &::-moz-placeholder {
            color: $prime-placeholder;
        }

        &:-moz-placeholder {
            color:$prime-placeholder;
        }

        &:-ms-input-placeholder {
            color:$prime-placeholder;
        }
    }

    input[type="submit"] {
        margin-left: 15px;
        padding: 0 15px;
        border: none;
        background: transparent;
        font-weight: 700;
        color: rgb(117, 117, 117);
        outline: none;
        cursor: pointer;
        transition: all .2s ease;

        &:hover {
            background-color: rgba(158,158,158,.2);
        }
    
        &:active {
            background-color: rgba(158,158,158,.4);
        }
    }
}