.todo-item {
    border-top: 1px solid rgba(0,0,0,.1);

    button.chackbox {
        float: left;
    }

    button.edit-btn,
    button.delete-btn {
        float: right;
        margin-left: 5px;
    }

    .edit-inp {
        float: left;
        min-width: 70%;

        label {
            display: block;

            input[type="text"] {
                display: block;
                width: 100%;
                padding: 0 0 0 10px;
                font-size: 16px;
                line-height: 32px;
                color: inherit;
                font-family: inherit;
                border: none;
                background: transparent;
                outline-color: #61dafb;
            }
        }
    }

    .title {
        float: left;
        display: block;
        max-width: 70%;
        overflow-x: hidden;
        text-overflow: ellipsis;
        font-size: 16px;
        line-height: 2em;
        padding-left: 10px;

        &.completed {
            text-decoration: line-through;
            opacity: 0.7;
        }
    }
}