.todo-item {
    border-top: 1px solid rgba(0,0,0,.1);

    button:first-child {
        float: left;
    }

    button:last-child {
        float: right;
    }

    .title {
        float: left;
        display: block;
        max-width: 70%;
        overflow-x: hidden;
        text-overflow: ellipsis;
        font-size: 16px;
        line-height: 2em;
        padding-left: 10px;
    }
}